{% with messages = get_flashed_messages(with_categories=true) %}
    <div class="container mt-5">
        <div class="row col-md-10">
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'message' %}
                        {% set message_class = 'info' -%}
                    {% else %}
                        {% set message_class = category -%}
                    {% endif %}
                    <div class="alert alert-{{ message_class }} alert-dismissible fade show" role="alert" style="box-shadow:0px 1px 1px grey;">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endwith %}